---
layout: default
---
<div class="home">
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
        mermaid.initialize({ startOnLoad: true });
    </script>
    <h1>MiscellaneousStuff</h1>
    <hr />
    <div class="container">
        <div class="posts">
            {% for post in site.posts %}
            <div class="post_container">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <div class="post-snippet">
                        <p class="post-date">{{ post.date | date: "%b %-d, %Y" }}</p>
                        <p class="post-title">{{ post.title }}</p>
                        <!--
                        <div class="post-tags">
                        {% for tag in post.tags %}
                            <div class="post-tag">{{ tag }}</div>
                        {% endfor %}
                        </div>
                        -->
                        <p class="post-excerpt">{{ post.excerpt }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>